.noty_body {
    background-color: rgb(125, 196, 125); /* Background color */
    color: white; /* Text color */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    padding: 10px 20px; /* Padding inside the notification */
}

#noty_layout__top {
    left: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
}

.boxHome {
    height: 400px;
    overflow: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
}
